keystore path: {{ amq_keystore_path }}
keystore password: {{ amq_keystore_password }}

truststore path: {{ amq_truststore_path }}
truststore password: {{ amq_truststore_password }}

private key path: {{ amq_ssl_key_path }}
private key password: {{ ssl_certs_passphrase }}

certificate authority path: {{ amq_ssl_ca_cert_path }}
certificate authority password: {{ ssl_certs_ca_passphrase }}
