ssl_keystore_path: {{ amq_keystore_path }}
ssl_keystore_password: {{ amq_keystore_password }}

ssl_truststore_path: {{ amq_truststore_path }}
ssl_truststore_password: {{ amq_truststore_password }}

ssl_privatekey_path: {{ amq_ssl_key_path }}
ssl_privatekey_password: {{ ssl_certs_passphrase }}

ssl_certificate_authority_path: {{ amq_ssl_ca_cert_path }}
ssl_certificate_authority_password: {{ ssl_certs_ca_passphrase }}
